<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <h3 th:text="${#lists.size(jobs) + ' Result(s)'}"></h3>

    <table class="job-listing" th:each="listings: ${jobs}">
        <tr th:each="listing: ${listings}">
            <td th:text="${listing.key}"></td>
            <td th:text="${listing.value}"></td>
        </tr>
    </table>
    <br />

</div>

</body>
</html>